/backend/.vs
/backend/GameAPI/obj/
/backend/GameAPI/bin/
/frontend/angularsignalrclient/.temp
backend/GameAPI/Properties/PublishProfiles/
/backend/GameAPI/.vs
/backend/GameAPI/GameAPI/bin
/backend/GameAPI/GameAPI/obj
