
<div class="mat-elevation-z8">
  <div class="order-table-container">

    <table #table mat-table [dataSource]="lobbyList!" class="work-table">
      <ng-container matColumnDef="name">
        <th class="col" mat-header-cell *matHeaderCellDef>Lobby name</th>
        <td class="col" mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
      <ng-container matColumnDef="players">
        <th class="col" mat-header-cell *matHeaderCellDef>Players</th>
        <td class="col" mat-cell *matCellDef="let row">{{getLobbyPlayerCount(row.id)}}</td>
      </ng-container>




      <tr mat-header-row *matHeaderRowDef="lobbyDisplayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: lobbyDisplayedColumns;"></tr>
    </table>
  </div>

</div>





<mat-form-field appearance="legacy">
  <mat-label>Vartotojo vardas</mat-label>
  <input matInput placeholder=" " [(ngModel)]="user">
</mat-form-field>

<button mat-raised-button color="warn" class="mb-2" (click)="saveToLocalStorage()" >
  Set
</button>
<button mat-raised-button color="primary" class="mb-2" (click)="getFromLocalStorage()" >
  Get
</button>


<form [formGroup]="form">
  <div class="form-group mx-sm-6" style="width: 500px;">
    <input
      type="text"
      class="form-control mb-2"
      placeholder="User"
      formControlName="usermessage"
    />
  </div>
  <div class="form-group mx-sm-6" style="width: 500px;">
    <input
      type="text"
      class="form-control mb-2"
      placeholder="Type message"
      formControlName="chatmessage"
    />
  </div>

  <button mat-raised-button color="primary" class="mb-2" (click)="sendMessage()" >
    Send
  </button>

  <button mat-raised-button class="mb-2" (click)="sendControls('up')">
    Up
  </button>

  <button mat-raised-button class="mb-2" (click)="sendControls('down')">
    Down
  </button>
</form>




<ul class="list-group list-group-flush" *ngFor="let message of chatmessages">
  <li class="list-group-item">
    {{ message.sent }}: {{ message.message }}
  </li>
</ul>






