/* You can add global styles to this file, and also import other style files */

/*html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #ffffff;
  --board-color: #b5b5b5;
  --snake-color: #fed049;
  --oponent-color: #2110d8;
  --food-color: #e70f0f;
  --clumsyfood-color: #09ff00;
  --heal-color: #860202;
  --antidotefood-color: #1100ff;
  --wall-color: #1a1a1a;
  --button-color: #000000;
  --dpad-radius: 17%;
  --dpad-radius-in: 20%;
  --dpad-fg: #ddd;
  --dpad-fg-hover: #eee;
  --dpad-bg: #fff;
  --arrowcolor: #aaa;
  --tri-sml-a: 13px;
  --tri-sml-b: 19px;
  --tri-lrg-a: 13px;
  --tri-lrg-b: 19px;
  --dpad-arrow-shift: 5px;
  --dpad-arrow-move: 35%;
  color: #5b277f;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--background-color);
  font-family: 'Anton', sans-serif;
}

.snake {
  background-color: var(--snake-color);
  border: 0.25vmin solid black;
  transition: all .3ms ease-in;
}

.oponent {
  background-color: var(--oponent-color);
  border: 0.25vmin solid black;
  transition: all .3ms ease-in;
}

.wall {
  background-color: var(--wall-color);
  //border: 0.25vmin solid black;
  transition: all .3ms ease-in;
}

.food {
  background-image: "https://img.lovepik.com/free-png/20210927/lovepik-apple-png-image_401592228_wh1200.png";
  border-radius: 50%;
  background-color: var(--food-color);
  border: 0.5vmin solid black;
  transition: all .3ms ease-in;
}
.clumsyfood {
  background-image: "https://img.lovepik.com/free-png/20210927/lovepik-apple-png-image_401592228_wh1200.png";
  border-radius: 50%;
  background-color: var(--clumsyfood-color);
  border: 0.5vmin solid black;
  transition: all .3ms ease-in;
}
.antidotefood {
  background-image: "https://img.lovepik.com/free-png/20210927/lovepik-apple-png-image_401592228_wh1200.png";
  border-radius: 50%;
  background-color: var(--antidotefood-color);
  border: 0.5vmin solid black;
  transition: all .3ms ease-in;
}
.heal {
  position: relative;
  width: 31.5px;
  height: 28.35px;
  margin-top: 3.15px;
  transition: all .3ms ease-in;
}

.heal::before, .heal::after {
  content: "";
  position: absolute;
  background-color: var(--heal-color);
  top: 0;
  width: 16.38px;
  height: 25.2px;
  border-radius: 15.75px 15.75px 0 0;
  border: 0.5vmin solid black;
}

.heal::before {
  left: 15.75px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heal::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
